$mainfont: 'Bebas Neue', sans-serif;

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	font-family: $mainfont;
	background-color: whitesmoke;
}

h1 {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 15px;
	font-size: 40px;
	letter-spacing: 5px;
}

.loader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.8);

	img {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.image-container {
	margin: 10px 10%;

	img {
		width: 100%;
	}

	.card-body {
		margin: 10px 20% 20px 20%;
		border-bottom: 2px solid grey;

		.body-author {
			display: flex;
			// justify-content: space-between;

			.author-photo {
				background-color: #bbb;
				width: 80px;
				height: 80px;
				border-radius: 50%;

				img {
					border-radius: 50%;
				}
			}
			.author {
				margin: 0;
				margin-left: 10px;
				display: flex;
				align-items: center;
				letter-spacing: 0.5px;
				font-size: 25px;
			}
			button {
				display: flex;
				align-items: center;
				font-size: 35px;
				border: none;
				background-color: whitesmoke;
				margin-left: auto;
				cursor: pointer;
			}
		}

		.body-content {
			margin: 0 20px;
			font-size: 22px;
			.icons {
				display: flex;
				justify-content: space-between;
				align-items: center;
				i {
					cursor: pointer;
					margin: 10px 0;
					font-size: 30px;
					&:not(:last-child) {
						margin-right: 20px;
					}
					&:last-child {
						margin-left: auto;
					}
				}
			}

			.likes {
				margin: 10px 0;
			}
		}
	}
}

// Media queries

@media (max-width: 600px) {
	h1 {
		font-size: 20px;
	}
	.image-container {
		margin: 0;

		.card-body {
			margin: 20px 0;
		}
	}
}
